body{
    color:white;
    font-family: myFirstFont;
    background-color: cornsilk;
}

.page {
    display: grid;
    height: 100%;
    grid-template-areas:
        'header'
        'nav'
        'main'
        'aside'
        'footer';
    grid-template-columns: 1fr;
    grid-gap: 1%;
  }

header{
    display: flex;
    justify-content: space-between;
}

button {
    background-color:  #c64756;
    transition-duration: 0.2s;
    width: 10%;
    border-radius: 40px;
    color:white;
    border:none;
    font-size: medium;
}
button:hover {
    opacity: 50%;
}

header, footer, aside, section{
    padding: 1%;
}

header, footer, nav, aside, main{
    border-radius: 5px;
    border: 2px;
}
header {
    grid-area: header;
    background-color: #013220;
}

footer { 
    grid-area: footer; 
    background-color: #013220;
}

nav {
    grid-area: nav;
    background-color: #013220;
}

aside {
    grid-area: aside;
    background-color: #013220;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding:1%
}
.menu li a {
    display: block;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    grid-area: main;
    background-color: #c64756;
    display: flex;
    flex-direction: column;
}

.page > nav a{
    color:white;
    text-decoration: none;
}

.page > nav a:hover{
    color:white;
    background: #c64756;
    border-radius: 5px;
    border: 2px;
}

img{
    max-width: 100%;
    float: left;
    margin:1%;
}

/* Exercise 8 */

input:invalid {
    background-color: #c0c0c0;
}

label, legend, input, fieldset > p, textarea{
    font-size: 1.3em;  
}

label{
    width: 40%;
    margin:1%;
}

input, fieldset{
    margin: 0 auto;
    margin-top:2%;
}

input:focus{
    border: 1px solid #013220;
    box-shadow: 0 0 5px #013220;
    outline-offset: 0px;
    outline: none;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="tel"]{
    width:70%;
    height: 25px;
    border: none;
    border:solid 1px #ccc;
    border-radius: 10px;
    outline: none;
}

#eye{
    margin-left: -5%;
    color:black;
}
textarea{
    width: 80%;
    border: none;
    border:solid 1px #ccc;
    border-radius: 10px;
}

textarea {
    resize: none;
}

form{
    margin:3%;
}

/* Exercise 8 */

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Junicode.ttf);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .page{
        grid-template-areas:
        'header header'
        'nav nav'
        'main aside'
        'footer footer';
        grid-template-columns: 5fr 1fr;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .page{
        grid-template-areas:
        'header header'
        'nav nav'
        'main aside'
        'footer footer';
        grid-template-columns: 5fr 1fr;
    }
    .menu, .container {
        flex-direction: row;
    }
    
}

/* Exercise 7 */
.day {
    position: relative;
    animation: mymove 10s infinite;
    font-size: large;
  }

@keyframes mymove {
    from {left: 0px;}
    to {left: 100px;}
}
/* Exercise 7 */